<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>
			Prueba angular con servicios Web Api
		</title>
		<script src="bower_components/angular/angular.js" ></script>
	    <script src="js/factory.js" ></script>
		<link rel="stylesheet" href="styles/style.css">
		
	</head>
	<body >
		<div ng-controller="MyController">
			<h2>Lista Grupos</h2>
			<ul >
			<li  ng-repeat="grupo in grupos">
                {{grupo.Descripcion}}				
			</li>
		</ul>
		<h2>Lista Familias</h2>
		<ul>
			<li ng-repeat="familia in familias" >
				{{familia.Descripcion}}
			</li>
		</ul>
		</div>
		
	</body>
</html>